{% extends "index.html" %}
{% block content %}
{% set card_layout = 'col s12 m6 l3' %}
<div class="container">
   <div class="card">
     <div class="card-image">
       <img class="materialboxed" src="{{ url_for('static', filename='media/images/IMG_0301.jpg') }}">
     </div>
     <div class="card-content center row white grey-text text-darken-3">
       <div class="col s12 m12 l6">
         <h4>Fiche technique</h4>
         <ul>
           <li>Longueur : 20 m</li>
           <li class="divider"></li>
           <li>Largeur : 4 m</li>
           <li class="divider"></li>
           <li>Tirant d’eau : 0,4 m</li>
           <li class="divider"></li>
           <li>Tirant d’air : 4.6 m</li>
           <li class="divider"></li>
           <li>Poids : env. 16 tonnes</li>
           <li class="divider"></li>
           <li>Moteurs : 2 hors-bords Honda 75cv essence à hélices</li>
           <li class="divider"></li>
           <li>Génératrice SDMO diesel 6 kWh 220v/380v</li>
           <li class="divider"></li>
           <li>4 batteries de service 220 amp. avec convertisseur et panneaux solaires</li>
         </ul>
       </div>
       <div class="col s12 m12 l6">
         <div class="video-container">
           <video class="responsive-video" autoplay muted controls>
             <source src="{{ url_for('static', filename='media/videos/rtp-main-page.mov') }}"
             type="video/mp4">
               Your browser does not support the video tag.
           </video>
         </div>
       </div>
       <div class="col s12 m12 l12">
         <div class="row">
           <img class="col s3 m3 s3 materialboxed" src="{{ url_for('static', filename='media/images/boat/length.png') }}">
           <img class="col s3 m3 s3 materialboxed" src="{{ url_for('static', filename='media/images/boat/roof.png') }}">
           <img class="col s3 m3 s3 materialboxed" src="{{ url_for('static', filename='media/images/boat/master.png') }}">
           <img class="col s3 m3 s3 materialboxed" src="{{ url_for('static', filename='media/images/boat/intermediate.png') }}">
         </div>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="Salon détente à l'avant du bateau"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_1.JPG') }}">
           <span class="card-title justify contoured medium-text">Salon détente à l'avant du bateau</span>
         </div>
       </div>
     </div>
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="Table d'hôte pour 10 convives"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_2.JPG') }}">
           <span class="card-title justify contoured medium-text">Table d'hôte pour 10 convives</span>
         </div>
       </div>
     </div>
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="Bar sur le pont à l'arrière du bateau"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_3.JPG') }}">
           <span class="card-title justify contoured medium-text">Bar sur le pont à l'arrière du bateau</span>
         </div>
       </div>
     </div>
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="Cuisine avec réchaud à gaz, réfrigérateur, et congélateur"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_4.JPG') }}">
           <span class="card-title justify contoured medium-text">Cuisine avec réchaud à gaz, réfrigérateur, et congélateur</span>
         </div>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="Cabine tout confort avec lit double et rangements"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_5.JPG') }}">
           <span class="card-title justify contoured medium-text">Cabine tout confort avec lit double et rangements</span>
         </div>
       </div>
     </div>
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="Salle de bain privative (WC, douche, et lavabo)"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_6_resized.JPG') }}">
           <span class="card-title justify contoured medium-text">Salle de bain privative (WC, douche, et lavabo)</span>
         </div>
       </div>
     </div>
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="L'energie électrique est 100% verte grâce au panneau solaires"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_7.JPG') }}">
           <span class="card-title justify contoured medium-text">L'energie électrique est 100% verte grâce au panneau solaires</span>
         </div>
       </div>
     </div>
     <div class="{{ card_layout }}">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed"
                data-caption="Quatre membres d'équipage (Chef cuisinière, capitaine, stewards)"
                height="200"
                src="{{ url_for('static', filename='media/images/boat/boat_8.JPG') }}">
           <span class="card-title justify contoured medium-text">Quatre membres d'équipage (Chef cuisinière, capitaine, stewards)</span>
         </div>
       </div>
     </div>
   </div>
</div>

{% endblock %}
