{% extends "index.html" %}
{% block content %}
<div class="container">
  <div class="row">
  {% for page in goldbook %}
    <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed"
               src="{{ url_for('static', filename=page[0]) }}">
        </div>
        <div class="card-content center green darken-3 white-text">
          <p>
          {{ page[1] }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
