{% extends "index.html" %}
{% block content %}

<div class="row container">
  <div class="col s12 m12 l12 card green darken-3">
      <div class="card-content white-text">
        <span class="card-title">
          <h3 class="header white-text italic center">
            Le Reine Tina dans la Presse
          </h3>
        </span>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="{{ url_for('static', filename='media/images/presse1.jpg') }}">
        </div>
        <div class="card-content green darken-3 white-text">
           <p class="justify">
              Fluvial n°267, novembre 2016
           </p>
        </div>
      </div>
    </div>
</div>

{% endblock %}
