{% extends "index.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="card green darken-3">
        <div class="card-content white-text">
          <span class="card-title">
            <h3 class="header white-text italic center">
              Conditions générales de vente
            </h3>
          </span>
            <p class="header white-text italic center">
              Les tarifs mentionnés sont des tarifs TO, 2017
            </p>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l3">
      <h3 class="header grey-text italic">
        I. Inscription et Reservation
      </h3>
      <h5>
        L'inscription et la réservation des prestations doivent être faites à
        l’Agence Chrismiatours Mada par email, puis confirmées et précisées
        par e-mail avec les nom(s) et prénom(s) du ou des participant(s), date(s)
        de naissance, détails des prestations.
      </h5>
    </div>
    <div class="col s12 m12 l3">
      <h3 class="header grey-text italic">
        II. Confirmation des reservations
      </h3>
      <h5>
        Les réservations devront être confirmées ou annulées 1 mois au plus tard, avant l’arrivée des clients.
      </h5>
    </div>
    <div class="col s12 m12 l3">
      <h3 class="header grey-text italic">
        III. Frais d'annulation
      </h3>
      <h5>
        L'annulation peut se faire par téléphone mais devra obligatoirement être formulée par email.
        <br />
        Si celle-ci nous est parvenue :
      </h5>
        <ul class="collection">
          <li class="collection-item">30 jours avant la date d'arrivée du client aucun frais ne vous sera demandé.</li>
          <li class="collection-item">Entre J -30 et J -21 les frais d'annulation s'élèveront à 30 % de la totalité du séjour.</li>
          <li class="collection-item">Entre J -20 et J -10 les frais d'annulation s'élèveront à 50 % de la totalité du séjour.</li>
          <li class="collection-item">Entre J -09 et J -04 les frais d'annulation s'élèveront à 75% de la totalité du séjour.</li>
          <li class="collection-item">À moins de 3 jours et en cas de no show, les frais correspondront à 100% du séjour</li>
        </ul>
    </div>
    <div class="col s12 m12 l3">
      <h3 class="header grey-text italic">
        IV. Règlement
      </h3>
      <h5>
        La facture peut être acquittée :
      </h5>
        <ul class="collection">
          <li class="collection-item">Soit par chèque au nom de (à confirmer auprès de l’Agence Chrismiatours Mada.</li>
          <li class="collection-item">Soit en espèces (Ariary, Euros) à l’Agence Chrismiatours Mada</li>
          <li class="collection-item">Soit par virement bancaire en Ariary ou en Euros.</li>
        </ul>
    </div>
  </div>
</div>

{% endblock %}
