<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/images/index/favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='media/images/index/favicon.ico') }}">
    <!-- link Google Fonts -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='materialize/fonts/font.css') }}">
    <!-- Materialize core CSS -->
    <link rel="stylesheet" type='text/css' media="screen,projection"
          href="{{ url_for('static', filename='materialize/css/materialize.css') }}">

    <!-- Personalized CSS import -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_overrides.css') }}">

    <!-- JS imports -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='materialize/js/initialize.js') }}"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <title>{% block window_title%}Croisières de luxe sur le Canal des Pangalanes Madagascar{% endblock %}</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green darken-3">
          <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>

          <a class="brand-logo center" href="{{ url_for('index') }}">
              <img class="responsive-img"
                   src="{{ url_for('static', filename='media/images/index/logo-plaquette.PNG') }}"
                   height="auto" width="275">
          </a>
          <!-- Navigation buttons, hidden on smaller devices -->
          <!-- left side -->
          <ul class="left hide-on-med-and-down">
            <li class="{{ 'active' if active=='home' }}">
              <a class='z-depth-2'
                 href="{{ url_for('index') }}">
                 Acceuil
              </a>
            </li>
            <li class="{{ 'active' if active=='presentation' }}">
              <a class='dropdown-trigger z-depth-2'
                 data-target='pres-nav-dropdown'
                 href="#!">Présentation
                 <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>

            <!-- <li class="{{ 'active' if active=='gallery' }}">
              <a class='dropdown-trigger'
                 data-target='media-nav-dropdown'
                 href="#!">Gallerie
                 <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li> -->

            <li class="{{ 'active' if active=='contact' }}">
              <a class='dropdown-trigger z-depth-2'
                 data-target='contact-nav-dropdown'
                 href="#!">Contacts & Réservations
                 <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>

          <!-- right side -->
          <ul class="right hide-on-med-and-down">
            <li class="{{ 'active' if active=='circuits' }}">
              <a class="z-depth-2"
                 href="{{ url_for('circuits') }}">
                 Circuits & Croisières
              </a>
            </li>
            <li class="{{ 'active' if active=='press' }}">
              <a class="z-depth-2"
                 href="{{ url_for('press') }}">
                 Presse
              </a>
            </li>
          </ul>

          <!-- Dropdown for presentation on navbar -->
          <ul id="pres-nav-dropdown" class="dropdown-content">
            <li><a href="{{ url_for('pangalanes') }}">Les Pangalanes</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('boat') }}">Le Reine Tina</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('goldbook') }}">Livre d'or</a></li>
          </ul>

          <!-- Dropdown for media on navbar -->
          <!-- <ul id="media-nav-dropdown" class="dropdown-content">
            <li><a href="{{ url_for('videos') }}">Vidéos</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('images') }}">Photos</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('press') }}">Presse</a></li>
          </ul> -->

          <!-- Dropdown for contacts on navbar -->
          <ul id="contact-nav-dropdown" class="dropdown-content">
            <li><a href="{{ url_for('agency') }}">Conditions générales</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('booking') }}">Réservations</a></li>
            <!-- <li class="divider"></li>
            <li><a href="{{ url_for('access') }}">Plan d'accès</a></li> -->
          </ul>
        </div>
        <div class="hide-on-med-and-down">
          <img class="responsive-img left"
               src="{{ url_for('static', filename='media/chrismiatours/logo_reinetina.PNG') }}"
               width="12%"
	       style="padding: 10px;">
          <img class="responsive-img right"
               src="{{ url_for('static', filename='media/chrismiatours/logo_chrismiatours.PNG') }}"
               width="15%">
        </div>
      </nav>
    </div>

    <!-- Mobile navbar -->
    <ul class="sidenav" id="mobile-navbar" >
      <li class="{{ 'active' if active=='home' }}">
        <a href="{{ url_for('index') }}">
           Acceuil
        </a>
      </li>
      <li class="{{ 'active' if active=='presentation' }}">
        <a class='dropdown-trigger'
           data-target='pres-mob-dropdown'
           href="#!">Présentation
           <i class="material-icons right">arrow_drop_down</i>
         </a>
       </li>

       <!-- <li class="{{ 'active' if active=='gallery' }}">
         <a class='dropdown-trigger'
            data-target='media-mob-dropdown'
            href="#!">Gallerie
            <i class="material-icons right">arrow_drop_down</i>
         </a>
       </li> -->

       <li class="{{ 'active' if active=='contact' }}">
         <a class='dropdown-trigger'
            data-target='contact-mob-dropdown'
            href="#!">Contacts & Réservations
            <i class="material-icons right">arrow_drop_down</i>
         </a>
       </li>

      <li class="{{ 'active' if active=='circuits' }}">
        <a href="{{ url_for('circuits') }}">Circuits & Croisières</a>
      </li>

      <li class="{{ 'active' if active=='press' }}">
        <a href="{{ url_for('press') }}">Presse</a>
      </li>
    </ul>

    <!-- Dropdown for presentation on mobile -->
    <ul id="pres-mob-dropdown" class="dropdown-content">
      <li><a href="{{ url_for('pangalanes') }}">Les Pangalanes</a></li>
      <li><a href="{{ url_for('boat') }}">Le Reine Tina</a></li>
      <li><a href="{{ url_for('goldbook') }}">Livre d'or</a></li>
    </ul>

    <!-- Dropdown for media on mobile -->
    <ul id="media-mob-dropdown" class="dropdown-content">
      <li><a href="{{ url_for('videos') }}">Vidéos</a></li>
      <li><a href="{{ url_for('images') }}">Photos</a></li>
      <li><a href="{{ url_for('press') }}">Presse</a></li>
    </ul>

    <!-- Dropdown for contacts on mobile -->
    <ul id="contact-mob-dropdown" class="dropdown-content">
      <li><a href="{{ url_for('agency') }}">Conditions générales</a></li>
      <li><a href="{{ url_for('booking') }}">Réservations</a></li>
      <!--<li><a href="{{ url_for('access') }}">Plan d'accès</a></li> -->
    </ul>

    <!-- Page Content -->
    {% block content %}
    <!-- content from other template-->
    {% endblock %}

    <footer class="page-footer green darken-3">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l6">
              <h5 class="white-text center">ChrisMiaTours</h5>
              <ul class="collection">
                <li class="center collection-item green darken-3">
                  <a class="grey-text text-lighten-3"
                     href="http://www.chrismiatoursmada.com/">
                    <i class="tiny material-icons">public</i>
                    Siteweb</a></li>
                <li class="center collection-item green darken-3">
                  <a class="grey-text text-lighten-3"
                     href="https://fr-fr.facebook.com/Chrismiatours-Madagascar-260454500757234/">
                  <img class="responsive-img"
                       src="/static/media/chrismiatours/facebook.png"/>
                   Facebook</a></li>
                <li class="center collection-item green darken-3">
                  <i class="tiny material-icons">local_phone</i>
                    Téléphone (Madagascar):<br/>+261 32 62 954 55</a></li>
              </ul>
            </div>
            <div class="col s12 m6 l6">
              <h5 class="white-text center">Partenaires</h5>
              <div class="row">
                <div class="col s12 m6 l6">
                  <a class="grey-text text-lighten-3 center"
                     href="http://gem-madagascar.com/membre/fhorm">
                   <img class="responsive-img"
                        src="/static/media/chrismiatours/logo_fhorm.PNG"
                        width="50%"/>
                  </a>
                </div>
                <div class="col s12 m6 l6">
                  <a class="grey-text text-lighten-3 center"
                     href="http://www.iftm.fr/">
                   <img class="responsive-img"
                        src="/static/media/chrismiatours/logo_iftm.PNG"
                        width="50%"/>
                  </a>
                </div>
                <div class="col s12 m6 l6">
                  <a class="grey-text text-lighten-3 center"
                     href="http://www.indaba-southafrica.co.za/default.aspx">
                   <img class="responsive-img"
                        src="/static/media/chrismiatours/logo_indaba.PNG"
                        width="50%"/>
                  </a>
                </div>
                <div class="col s12 m6 l6">
                  <a class="grey-text text-lighten-3 center"
                     href="http://www.madagascar-tourisme.com/fr/">
                   <img class="responsive-img"
                        src="/static/media/chrismiatours/logo_ofntm.PNG"
                        width="50%"/>
                  </a>
                </div>
                <div class="col s12 m6 l6">
                  <a class="grey-text text-lighten-3 center"
                     href="http://www.top-madagascar.fr">
                   <img class="responsive-img"
                        src="/static/media/chrismiatours/logo_toptamatave.PNG"
                        width="50%"/>
                  </a>
                </div>
              </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <p class="grey-text text-lighten-4 left">
              © 2019 ChrisMiaTours
            </p>
            <p class="grey-text text-lighten-4 right">
              Website developed by
              <a target="_blank" href="http://www.karimluy.ch">Karim Luy</a>
            </p>
          </div>
        </div>
    </footer>
</body>


</html>
